# Environment
NODE_ENV=development

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"

# Redis
# REDIS_PASSWORD=your_redis_password
REDIS_PORT=6379
REDIS_HOST=localhost

# App URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# JWT
JWT_SECRET=replace_with_a_long_random_secret

# QR
QR_KEY=replace_with_qr_encryption_key

# CMU Entra ID
CMU_ENTRAID_CLIENT_ID=your_client_id
CMU_ENTRAID_CLIENT_SECRET=your_client_secret
CMU_ENTRAID_REDIRECT_URL=http://localhost:5173/cmuEntraIDCallback
CMU_ENTRAID_GET_TOKEN_URL=https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/token
CMU_ENTRAID_GET_BASIC_INFO=https://api.cmu.ac.th/mis/cmuaccount/prod/v3/me/basicinfo
SCOPE="api://cmu/Mis.Account.Read.Me.Basicinfo offline_access"
CMU_ENTRAID_URL=https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/authorize?response_type=code&client_id=${CMU_ENTRAID_CLIENT_ID}&client_secret=${CMU_ENTRAID_CLIENT_SECRET}&redirect_uri=${CMU_ENTRAID_REDIRECT_URL}&scope=${SCOPE}&state=xyz
CMU_ENTRAID_LOGOUT_URL=https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/logout?post_logout_redirect_uri=http://localhost:9999

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_EVENT_FOLDER=events_test

# Internal API Key
INTERNAL_API_KEY=replace_with_internal_api_key

# Firebase Cloud Messaging
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<your-private-key>\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
